p {
  font-family: Lato;
  font-weight: 700;
  font-size: xx-large;
}

input {
  font-family: Lato;
  font-weight: 700;
  font-size: large;
  margin: {
    right: 1rem;
  };
}

button {
  font-family: Lato;
  font-weight: 700;
  font-size: large;
  margin: {
    right: 1rem;
  };
}

.row {
  margin: {
    bottom: 1rem;
  }
}
